.title{
    justify-content:center;
    display:flex;
    padding-top:5px;
    
}

.header img{
    width:100%;
}

.middlepic{
    width:100%;
    justify-content:center
}

.middlepic img{
    width:100%;
}

.middlepic2{
    width:100%;
    justify-content:center;
}

.middlepic2 img{
    width: 40%;
    margin-left:28%;
}
.enepic img{
    width: 60px;
    margin-left:45%;
    height: 100px;
}

footer{
    width: 1440px;
height: 308px;
left: 0px;
top: 1587px;
width:100%;
    background-image: url(footer.png);
}
.footertext{
    width: 1110px;
height: 88px;
left: 165px;
top: 1703px;
margin: 116px 100px ;
}